@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FFC96F;
    color: #2B2B2B;
    font-family: "Cinzel", "Roboto", "Georgia", serif;
}

.container {
    background-color: #FFA62F;
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    padding: 22px;
}

.title {
    margin-top: 0;
}

.description,
.ingredients,
.steps {
    font-weight: 500;
    text-align: justify;
    width: 75ch;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: inherit;
}

a:hover {
    color: #FFE8C8;
}

.main-image {
    margin: 0;
    width: 50%;
    border: 5px solid #ACD793;
    border-radius: 20px;
}

.recipes {
    font-weight: 500;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 8px 0;
}

hr {
    width: 75ch;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}